body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 1.2em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 30px auto;
    width: 80%;
}

.card {
    background: white;
    border-left: 5px solid #b30000;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}
